.field {
   width: 900px;
   height: 700px;
   //   border: 1px solid rebeccapurple;

   .col {
      background-color: rgba(17, 179, 20, 0.324);
      height: 600px;
      border-radius: 25px;
      padding: 20px;
   }
}
